.container {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

.player-list {
  /* display: flex;
  flex-wrap: wrap; */
  list-style: none;
  padding: 0;
}

.player-list li {
  margin: 0.5rem;
  flex: 1 0 45%;
}
